@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-gradient {
    background: linear-gradient(90deg, var(--primary) 30%, var(--violet));
    background-clip: text;
    color: transparent;
  }
  .bg-gradient {
    background: linear-gradient(90deg, var(--primary) 30%, var(--violet));
  }
}

:root {
  --primary: #5049e1;
  --primary-light: rgba(80, 73, 225, 0.4);
  --primary-light-1: #f3f2fc;
  --primary-light-2: #e9e8f7;
  --primary-light-3:#d4e6ff;

  --secondary: #ff8667;

  --violet: #a150e1;

  --gray-0: #b2b2b2;
  --gray-1: #6f6f6f;
  --gray-2: #e9ecef;

  --dark-0: #363636;
  --dark-1: #212121;
  --dark-2: #171717;
  --dark-3: #262626;
}

body {
  font-family: "Rubik", sans-serif;
}

.stickyNav {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--gray-2);
  animation: slideDown 1s forwards;
  position: fixed;
  z-index: 5;
}



@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.navlinks::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: var(--primary);
  transition: all 300ms ease-in-out;
}

.navlinks:hover::before {
  width: 100%;
}
.navlinks:not(:hover)::before {
  width: 0;
  left: auto;
  right: 0;
}

.slideFromLeft {
  animation: leftToRight 2s forwards;
}
.slideFromRight {
  animation: rightToLeft 2s forwards;
}
.scaleUp {
  animation: scaleUpAnimation 1s forwards;
}

@keyframes scaleUpAnimation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
}

.showScrollbar::-webkit-scrollbar {
  width: 5px;
}

.horizontalScrollbar::-webkit-scrollbar {
  height: 5px;
}

.horizontalScrollbar::-webkit-scrollbar-track,
.showScrollbar::-webkit-scrollbar-track {
  background-color: var(--primary-light);
}
.horizontalScrollbar::-webkit-scrollbar-thumb,
.showScrollbar::-webkit-scrollbar-thumb {
  background-image: linear-gradient(var(--primary), var(--violet));
  border-radius: 10px;
}

@keyframes openTop {
  0% {
    transform: translateY(0) rotate(0);
    width: 60%;
  }
  50% {
    transform: translateY(10px) rotate(0);
    width: 60%;
  }
  80% {
    width: 100%;
  }
  100% {
    transform: translateY(10px) rotate(-45deg);
    width: 100%;
  }
}
@keyframes closeTop {
  0% {
    transform: translateY(10px) rotate(-45deg);
    width: 100%;
  }
  50% {
    transform: translateY(10px) rotate(0);
    width: 100%;
  }
  80% {
    width: 60%;
  }
  100% {
    transform: translateY(0) rotate(0);
    width: 60%;
  }
}

@keyframes openMiddle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes closeMiddle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes openBottom {
  0% {
    transform: translateY(0) rotate(0);
    margin-left: auto;
    width: 60%;
  }
  50% {
    transform: translateY(-12px) rotate(0);
    margin-left: auto;
    width: 60%;
  }
  80% {
    margin-left: 0;
    width: 100%;
  }
  100% {
    transform: translateY(-12px) rotate(45deg);
    margin-left: 0;
    width: 100%;
  }
}
@keyframes closeBottom {
  0% {
    transform: translateY(-12px) rotate(45deg);
    margin-left: 0;
    width: 100%;
  }
  50% {
    transform: translateY(-12px) rotate(0);
    margin-left: 0;
    width: 100%;
  }
  80% {
    margin-left: auto;
    width: 60%;
  }
  100% {
    transform: translateY(0) rotate(0);
    margin-left: auto;
    width: 60%;
  }
}



.swiper-pagination {
  bottom: -20px !important;
}
.swiper-pagination-bullet {
  width: 25px !important;
  border-radius: 10px !important;
  height: 4px !important;
}
.swiper-pagination-bullet-active {
  background-color: var(--primary) !important;
}
@media screen and (min-width: 400px) {
  .swiper-pagination {
    bottom: -40px !important;
  }
}
